


/* Mapa do Google Responsivo */
  .google-maps {
        position: relative;
        padding-bottom: 75%; // This is the aspect ratio
        height: 0;
        overflow: hidden;
    }
    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }


/* Barra de navegação*/



/*Adaptação aos dispositivos móveis */
@media only screen and (max-width : 600px) {
 
#logoHeader{
	font-size:120%;
}  



}


